.img-hgt {
    height: 8vh;
}
.car_img{
    height:60vh ;
}
.jumbotron h3{
    font-family: 'Playfair Display', serif;
}
.tab-pane img {
    width: 5em;
    height: 5em;
}
.gg {
    
    width: 17.em;
    height: 10em;
}
.nav_font{
    color: white !important;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.clients_img {
    width: 8em;
    height: 5em;
}
footer {
    background-color: #17a2b8;
}
footer .footer-copyright{
    background-color: #007bff;
}
main {
    background-color: antiquewhite;
}